/**FONTS**/
/*
mesa-minecraft
roblox
barcode
comic
comic-bold
mensaje-secreto
minecraft
pelis
roto
soul-knight
sucio
astetik
astetik-bold
pro
*/
@font-face {
  font-family: 'mesa-minecraft';
  src: url('./src/assets/fonts/mesaminecraft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roblox';
  src: url('./src/assets/fonts/roblox.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barcode';
  src: url('./src/assets/fonts/barcode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comic-bold';
  src: url('./src/assets/fonts/comic-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comic';
  src: url('./src/assets/fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'laberinto';
  src: url('./src/assets/fonts/laberinto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mensaje-secreto';
  src: url('./src/assets/fonts/mensaje-secreto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'minecraft';
  src: url('./src/assets/fonts/minecraft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pelis';
  src: url('./src/assets/fonts/pelis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roto';
  src: url('./src/assets/fonts/roto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'soul-knight';
  src: url('./src/assets/fonts/soulKnight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sucio';
  src: url('./src/assets/fonts/sucio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'astetik';
  src: url('./src/assets/fonts/astetik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'astetik-bold';
  src: url('./src/assets/fonts/astetik-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pro';
  src: url('./src/assets/fonts/pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**BASE GENERAL**/

body{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  text-align: center;
}

/*  |   play_arrow   |    skip_next   |    pause    |  */
/*  |     undo       |      redo      |    replay   |  */
.material-symbols-outlined {
  margin: 0;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.hr-astetik{
  background: rgba(207, 9, 247, 0.5);
  width: 320px;
  height: 3px;
  border: 1px rgb(247, 0, 255); 
  border-radius: 50px;
}
.hr-roblox{
  background: rgba(146, 148, 148, 0.747);
  width: 320px;
  height: 2px;
  border: 1px rgb(112, 111, 112); 
  border-radius: 50px;
}
.hr-minecraft{
  background: rgba(2, 122, 8, 0.747);
  width: 320px;
  height: 3px;
  border: 1px rgb(0, 0, 0); 
  border-radius: 50px;
}
.hr-series{
  background: rgba(114, 5, 202, 0.747);
  width: 320px;
  height: 3px;
  border: 1px rgb(238, 236, 236); 
  border-radius: 50px;
}
.hr-soul{
  background: rgba(129, 2, 2, 0.747);
  width: 320px;
  height: 3px;
  border: 1px rgb(238, 236, 236); 
  border-radius: 50px;
}



:root{
  --blanco: #ffffff !important;
  --rosaPastel: rgba(243, 111, 255, 0.932) !important;
  --negro: #000000 !important;
}


.mensaje-secreto{
  color:  var(--rosaPastel);
}
.mensaje-oculto{
  font-family: "otros";
  user-select: none;
}

.hidden{
  display: none;
}

.base-paginas-internas{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "astetik";
  max-width: 380px;
  margin-bottom: 70px;
}

.row{
  display: flex;
  gap: 10px;
  max-width: 360px;
  min-width: 300px;
  margin: 10px;
  justify-content: center;
}
.column{
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 360px;
  min-width: 360px;
  align-items: center;
}
