.default-fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.boton-volver-inicio{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-color: black;
    background: white;
    font-family: "astetik";
    font-size: 20px;
}
.fondo-contraseña{
    overflow: hidden;
}

.inicio-contraseña{   
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(255, 0, 191) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(248, 0, 0) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(214, 67, 202, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: white;
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #333;
    }
}
.final-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(255, 0, 191) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(248, 0, 0) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(214, 67, 202, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: white;
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #333;
    }
}
.llamadas-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: radial-gradient(#345, #312, #233);
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(0, 248, 0) 2px solid;
        border-radius: 10px;
        color: rgba(0, 255, 0, 0.795);
        background-color: #61ff5b8a;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(0, 4, 248) 2px solid;
        border-radius: 10px;
        color: rgba(0, 255, 0, 0.795);
        background-color: #5b63ff8a;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(67, 69, 214, 0.616);
        font-family: "comic";
        transition: all 1.2s ease;
    }
    .formulario:focus::placeholder{
        color:rgba(72, 214, 67, 0.616);
        font-family: "comic";
        transition: all 1.2s ease;
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: rgb(3, 19, 252);
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #f703e2;
    }
}
.minecraft-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(3, 192, 3) 2px solid;
        border-radius: 10px;
        color: rgba(102, 100, 102, 0.795);
        background-color: #a5460f80;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(11, 80, 2) 2px solid;
        border-radius: 10px;
        color: rgba(39, 39, 39, 0.904);
        background-color: #a5460f80;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(0, 0, 0, 0.356);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: rgba(47, 221, 12, 0.938);
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #278686;
    }
}
.otros-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(195, 127, 250) 2px solid;
        border-radius: 10px;
        color: rgba(95, 200, 241, 0.795);
        background-color: rgba(153, 0, 255, 0.534);
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(195, 127, 250) 2px solid;
        border-radius: 10px;
        color: rgba(95, 200, 241, 0.795);
        background-color: rgba(153, 0, 255, 0.534);
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(245, 157, 237, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: white;
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #802ddf;
    }
}
.roblox-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(255, 0, 191) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(248, 0, 0) 2px solid;
        border-radius: 10px;
        color: rgba(255, 0, 212, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(214, 67, 202, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 12px;
        font-family: "roto";
        color: rgb(82, 81, 81);
        font-size: 22px;
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #333;
    }
}
.series-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: rgb(227, 87, 87);
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(0, 195, 255) 2px solid;
        border-radius: 10px;
        color: rgba(255, 225, 2, 0.801);
        background-color: rgba(125, 248, 248, 0.566);
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(0, 83, 248) 2px solid;
        border-radius: 10px;
        color: rgba(255, 225, 2, 0.795);
        background-color: rgba(125, 248, 248, 0.566);
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(223, 193, 43, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "laberinto";
        color: rgb(255, 190, 38);
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(255, 0, 200, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #ec9f9f;
    }
}
.soul-knight-contraseña{
    .fondo-contraseña{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        z-index: 20;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .formulario{
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-shadow: none;
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(0, 0, 0) 2px solid;
        border-radius: 10px;
        color: rgba(255, 153, 0, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        font-family: "comic";
    }
    .formulario:focus{
        width: 320px;
        height: 20px;
        padding: 10px;
        padding-left: 4px;
        font-size: 18px;
        border: rgb(8, 8, 8) 2px solid;
        border-radius: 10px;
        color: rgba(255, 136, 0, 0.795);
        background-color: transparent;
        transition: all 1.2s ease;
        outline: none;
    }

    .formulario::placeholder{
        color:rgba(245, 139, 0, 0.616);
        font-family: "comic";
    }

    .texto-formulario{
        margin: 10px;
        font-family: "roto";
        color: rgb(83, 6, 6);
    }

    .form-base{
        width: 320px;
        height: 300px;
        border: rgba(253, 22, 203, 0.801);
    }

    .pista-input{
        font-size: 14px;
        font-family: "mensaje-secreto";
        text-align:left;
        margin: 20px;
        margin-left: 35px;
        color: #333;
    }
}