.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}
.simbolo{
    position: absolute;
    user-select: none;
    pointer-events: none;
    animation: moveDiagonal linear infinite;
}

.heart{
    &.simbolo{
        color:#fa6f99;
    }
    &.fondo{
        background: radial-gradient(#fac0b4 , #f8a592);
    }
}

.star{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}

.roblox{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#9efff7 , #6ef5fa, rgb(114, 158, 247)); 
    }
}

.series{
    &.simbolo{
        color: #cf2d00;
    }
    &.fondo{
        background: radial-gradient(#3922e2 , #033667); 
    }
}

.final{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}

.llamadas{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}

.minecraft{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}

.otros{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}
.soulKnight{
    &.simbolo{
        color: #fd0303;
    }
    &.fondo{
        background: radial-gradient(#000000 , #000000); 
    }
}




@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: var(--max-opacity, 0.7);
  }
  90% {
    opacity: var(--max-opacity, 0.7);
  }
  100% {
    /* Desplazamiento diagonal: cambia según la dirección que quieras */
    transform: translate(-100vw, -100vh) rotate(360deg);
    opacity: 0;
  }
}

